<%= form_for(@task, remote: true) do |form| %>
  <%= form.select(:project_id, projects_for_select, {prompt: 'Select name projects'}, {class: 'btn btn-outline-secondary dropdown-toggle', id: 'select'}) %>
  <%= form.text_field :description, class: "form-control", id: "description"%>
  <%= form.submit "", id: "submit", hidden: true %>
  <button type="button" class="btn btn-success" id="start" <%= 'hidden' if @task.id %>>Start</button>
  <button type="button" id="pause" task__id="<%= @task.id %>" class="hidden_btn btn btn-warning" <%= 'hidden' unless @task.id %>>Pause</button>
  <button type="button" id="stop" task__id="<%= @task.id %>" class="hidden_btn btn btn-danger" <%= 'hidden' unless @task.id %>>Stop</button>
<% end %>
