<tr>
  <td><%= task.project_name %></td>
  <td><%= task.description %></td>
    <% if task.end_time == nil %>
    <td><%= format_time_task(task.created_at) %><strong>/</strong></td>
  <% else %>
  <td><%= format_time_task(task.created_at) %><strong>/</strong><%= format_time_task(task.end_time) %></td>
  <% end %>
  <% if task.end_time == nil %>
    <td></td>
  <% else %>
    <td><%= full_t(task.end_time, task.created_at)%></td>
  <% end %>
</tr>
