<!-- <p id="notice"><%= notice %></p> -->
<div class="filter">
    <%= form_for"", url: tasks_path, role: "search", method: :get  do |f|%>
   <%if  params[:project_id].present?%>
   <%= f.select(:project_id, projects_for_select, {selected: params[:project_id]}, {class: 'btn btn-outline-secondary dropdown-toggle', id: 'select'}) %>
   <% else %>
   <%= f.select(:project_id, projects_for_select, {prompt: 'Select name projects'}, {class: 'btn btn-outline-secondary dropdown-toggle', id: 'select'}) %>
   <% end %>
    Create between:
    <%= date_field_tag(:search_date_1, @date_1)%>
    <%= date_field_tag(:search_date_2, @date_2)%>
    Long to short:
    <%= check_box_tag(:long_short,{},  @is_checked) %>
    Short to long:
    <%= check_box_tag(:short_long,{}, @is_checked2) %>
    <%= f.submit "Submit" %>
    <% end %>
</div>

<div class="task_page">
  <table class='tasks_table table'>
      <tr>
       <th id='task__title' colspan="6">
         Tasks
       </th>
     </tr>
     <tr>
        <th>Project</th>
        <th>User</th>
        <th>End time</th>
        <th colspan="2">Description</th>
        <th colspan="2"></th>
      </tr>

      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.project_name %></td>
          <td><%= task.user_id %></td>
          <td><%= task.end_time %></td>
          <td colspan="2"><%= task.description %></td>
          <td colspan="2">
            <% if current_user.admin? %>
              <%= link_to 'Show', task, class: "btn btn-success" %>
              <%= link_to 'Edit', edit_task_path(task), class: "btn btn-primary" %>
            <% end %>
            <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="pagination" colspan="2"></td>
        <td colspan="2"></td>
      </tr>
  </table>
</div>
<div class="bottom">
  <%= will_paginate(@tasks) %>
  <%# <%= link_to 'New Task', new_task_path, class: "new_task_task_page btn btn-warning" %>

</div>
