<%# <p id="notice"><%= notice %></p %>

<div class="task_page">

  <table class='tasks_table table'>
      <tr>
       <th id='task__title' colspan="6">
         Tasks
       </th>
     </tr>
     <tr>
        <th>Project</th>
        <th>User</th>
        <th>End time</th>
        <th colspan="2">Description</th>
        <th colspan="2"></th>
      </tr>

      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.project_id %></td>
          <td><%= task.user_id %></td>
          <td><%= task.end_time %></td>
          <td colspan="2"><%= task.description %></td>
          <td colspan="2">
            <%= link_to 'Show', task, class: "btn btn-success" %>
            <%= link_to 'Edit', edit_task_path(task), class: "btn btn-primary" %>
            <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="pagination" colspan="2"></td>
        <td colspan="2"></td>
      </tr>
  </table>
</div>
<div class="bottom">
  <%= will_paginate(@tasks) %>
  <%# <%= link_to 'New Task', new_task_path, class: "new_task_task_page btn btn-warning" %>

</div>
