<p id="notice"><%= notice %></p>

<div class="task_page">
  <aside class="task_sidebar">

  </aside>
  <table class='tasks_table'>
      <tr>
       <th class='task__title' colspan="5">
         <h1>Tasks</h1>
       </th>
     </tr>
     <tr>
        <th>Project</th>
        <th>User</th>
        <th>End time</th>
        <th>Description</th>
      </tr>

      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.project_id %></td>
          <td><%= task.user_id %></td>
          <td><%= task.end_time %></td>
          <td><%= task.description %></td>
          <td colspan="2">
            <%= link_to 'Show', task, class: "btn btn-success" %>
            <%= link_to 'Edit', edit_task_path(task), class: "btn btn-primary" %>
            <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="pagination"><%= will_paginate(@tasks) %></td>
        <td><%= link_to 'New Task', new_task_path, class: "new_task btn btn-warning" %></td>
      </tr>
  </table>
</div>
