<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="new_page">
  <div class="field">
      <%= form.select(:customer_id, customers_for_select, {prompt: 'Select name customer'}, {class: 'btn btn-outline-secondary dropdown-toggle'}) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Project', class: 'btn btn-success' %>
  </div>

 <% end %>
</div>
