<p id="notice"><%= notice %></p>

<h1></h1>

<table class='table project_table'>
  <thead>
    <tr>
      <th id='task__title' colspan="6">Projects</th>
    </tr>
    <tr>
      <th>Customer</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.customer_id %></td>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= link_to 'Show', project, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_project_path(project), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Project', new_project_path, class: 'btn btn-warning new_project_project_tasks' %>
