<header>
   <div class="container">
         <img src="http://todo-list.ch/wp-content/uploads/2016/10/logo_script_blue_00-1.png" class='logo' alt="logo">
         <nav>
            <ul class="header__menu">
               <li><%= link_to "Home", root_path, id: "home" %></li>
               <li><%= link_to "Tasks", root_path, id: "tasks" %></li>
               <% if current_user %>
                 <li>
                   <%= link_to('Logout', destroy_user_session_path, method: :delete, id:"logout") %>
                 </li>
               <% else %>
                 <li>
                   <%= link_to('Register', new_user_registration_path, id:"register") %>
                 </li>
                 <li>
                   <%= link_to('Login', new_user_session_path, id: "login") %>
                 </li>
               <% end %>
            </ul>
         </nav>
   </div>
</header>
