<main>
  <div class="container">
     <div id='inputs'>   
        <input class='btn btn-primary' id='add__task' type="button" value="+Add task">
        <%= render 'tasks/form', task: @task %>
        
        <ins id="error" hidden>Error! Task haven't started!</ins>
    </div>
    <table class="table">
       <tr>
          <th id='task__title' colspan="4">Today</th>
       </tr>
       <tr>
          <th>Project</th>
          <th>Task</th>
          <th>Start/End time</th>
          <th>Full time</th>
       </tr>
          <% @todayTasks.each do |task| %>
       <tr>
          <td><%= task.project_name %></td>
          <td><%= task.task_description %></td>
          <td><%= task.created_at %><strong>/</strong><%= task.end_time %></td>
            <% if task.end_time == nil %> 
              <td></td>      
            <% else %>
              <td><%= full_t(task.end_time, task.created_at)%></td>
            <% end %>
          </td>
       </tr>
          <% end %>
    </table>
</main>
