<main>
  <div class="container">
     <div id='inputs'>   
        <input class='btn btn-primary' id='add__task' type="button" value="+Add task">
        <%= render 'tasks/form', task: @task %>
        <%= form_with(model: @task, local: true) do |form| %>
          <%= form.select(:project_id, projects_for_select, {prompt: 'Select name projects'}, {class: 'ExampleClass'}) %> 
          <input id='description' class='form-control' type="text" name="" id="">
          <button class='btn btn-success' id='start' type="button">Start</button>
          <button class="hidden_btn btn btn-warning" hidden>Pause</button>
          <button class="hidden_btn btn btn-danger" hidden>Stop</button>
        <% end %>
        
    <div class="form-inputs">
 
  </div>
    <table class="table">
       <tr>
          <th id='task__title' colspan="4">Today</th>
       </tr>
       <tr>
          <th>Name project</td>
          <th>Task</td>
          <th>Start/end time</td>          
          <th>Full time</td>
       </tr>
          <% @todayTasks.each do |task| %>
       <tr>
          <td><%= task.project_name %></td>
          <td><%= task.task_description %></td>
          <td><%= task.created_at %><strong>/</strong><%= task.end_time %></td>          
          <td><%= full_t(task.end_time, task.created_at)%></td>
          </td>
       </tr>
       <br>
          <% end %>
    </table>
</main>
