<main>
  <div class="container">
     <div id='inputs'>
        <input class='btn btn-primary' id='add__task' type="button" value="+Add task">
        <%= form_for(@task, remote: true) do |form| %>
          <%= form.select(:project_id, projects_for_select, {prompt: 'Select name projects'}, {class: 'btn btn-outline-secondary dropdown-toggle', id: 'select'}) %>
          <%= form.text_field :description, class: "form-control", id: "description"%>
          <%= form.submit "", id: "submit", hidden: true %>
          <button type="button" class="btn btn-success" id="start">Start</button>
          <button type="button" id="pause" class="hidden_btn btn btn-warning" hidden>Pause</button>
          <button type="button" id="stop" class="hidden_btn btn btn-danger" hidden>Stop</button>
        <% end %>
        <%= form_for(@task, remote: true) do |form| %>
          <%= form.select(:project_id, projects_for_select, {prompt: 'Select name projects'}, {class: 'btn btn-outline-secondary dropdown-toggle', id: 'select'}) %>
          <%= form.text_field :description, class: "form-control", id: "description"%>
          <%= form.submit "", id: "submit", hidden: true %>
          <button type="button" class="btn btn-success" id="start">Start</button>
          <button type="button" id="pause" class="hidden_btn btn btn-warning" hidden>Pause</button>
          <button type="button" id="stop" class="hidden_btn btn btn-danger" hidden>Stop</button>
        <% end %>
        <ins id="error" hidden>Error! Task haven't started!</ins>
    </div>
    <table class="table">
       <tr>
          <th id='task__title' colspan="4">Today</th>
       </tr>
       <tr>
          <th>Project</th>
          <th>Task</th>
          <th>Start/End time</th>
          <th>Full time</th>
       </tr>
       <tr>
          <td>sadwa</td>
          <td>sadwa</td>
          <td>sadwa</td>
          <td>sadwa</td>
       </tr>
       <tr>
          <td>sadwa</td>
          <td>sadwa</td>
          <td>sadwa</td>
          <td>sadwa</td>
       </tr>
       <tr>
          <td>sadwa</td>
          <td>sadwa</td>
          <td>sadwa</td>
          <td>sadwa</td>
       </tr>
    </table>
</main>
